
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if error %}
    <center>
        <h1>
            {{ error }}
        </h1>
    </center>
    {% endif %}


    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}

        <p>
    <label for="id_email">Email:</label>
    <input type="email" name="email" class="form-control" placeholder="Email Address: " maxlength="30" required id="id_email">


  </p>


  <p>
    <label for="id_password">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Password: " maxlength="30" required id="id_password">




  </p>

        <input type="submit" value="Submit">

    </form>
</body>
</html>